<configuration>

    <appender name="MyConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/L/YYYY hh:mm:ss: a} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="MyFileAppender" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>%d{dd/L/YYYY hh:mm:ss: a} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <file>
            logs-file/myapp.log
        </file>
    </appender>

    <root level="INFO">
        <appender-ref ref="MyConsoleAppender"/>
        <appender-ref ref="MyFileAppender"/>
    </root>

</configuration>